body {
    background-color: rgb(255, 255, 255);
}
.header-cell {
    padding: 2em;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
#jad {
    font-family: Pacifico;
}

.buttons {
    display: flex;
    justify-content: center;
}

.column {
    border: 1px solid rgb(215, 213, 213);
    border-radius: 5px;

}

#meal-planner{
    margin-top: 5px;
}
#calendar {
    display: flex;
    justify-content: space-around; 
    margin-top: 20px; 
  }


  .column {
    flex: 1; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 0 5px; 
  }


  .recipes {
    margin-top: 10px; 
  }
  
  .ui.card {
    width: 300px; 
    margin-bottom: 20px; 
  }


  .ui.form .field {
    margin-bottom: 10px; 
  }


  .ui.form select {
    width: 100%; 
    padding: 8px;
    font-size: 14px; 
  }

  .ui.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
.bottom-section {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #recipeInput {
    width: calc(100% - 80px); 
    padding: 10px;
    margin-right: 10px;
  }
  
  #analyzeBtn {
    width: 80px; 
    padding: 10px;
    cursor: pointer;
  }
  